.header {
    background: $bg-color-header;
    font-size: $fs-header;
    font-weight: $fw-header;
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__img {
    padding: 10px;
}

.header__navigation {
    .header__list {
        @extend %listreset;
        display: flex;
        justify-content: space-between;

        > li {
            padding: 0 10px;
            
            > a {
                text-decoration: none;
                color:$black;
                transition: $btn-transition;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}