//colors
$bg-color-header: #D3B714;
$bg-color-aside1: #C798B9;
$bg-color-aside2: #9CB1C7;
$bg-color-footer: #83E683;
$blue: #685174;
$white: white;
$red: red;
$black: black;

//blocks width
$width-aside: 210px;

//fonts
$fs-header: 20px;
$fw-header: 500;
$fs-card-title: 20px;
$fs-card-descr: 18px;

//btn
$btn-padding:     8px 20px;
$btn-font-size:   16px;
$btn-line-height: 20px;
$btn-background:  $blue;
$btn-color:       $white;
$bth-bg-hover:    $red;
$btn-border-radius: 20px;
$btn-transition: .5s;